body{
    text-align:center;
    background-size: cover;
}

#dayoftheweek{
    font-size: 20px;
}

.button1{
    font-size: 20px;
}

#romanialol{
    font-size: 50px;
}

#romanianVersion{
    font-size: 50px;
}